*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    position: relative;
    /* width: 100%;
    height: 100vh;
    overflow: auto; */
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    text-align: center;
    background-color:rgb(253, 255, 255);
    table-layout: fixed;
    font-size: 15px;
}
.encabezado{
    display: flex;
    /* align-items: baseline; */
    background-color: #FAD2F9;
}
   .encabezado .image {
        max-width: 14%;
        float: left;
    }
   .encabezado .header_nav_links{
          display: flex;
          justify-content: flex-start;
          padding-bottom: 0.75rem;
          padding-top: 0.75rem;
          color: aliceblue;
          list-style: none;
           } 
           .header_nav_links a {
            color: #000000;
            font-weight: 80px;
            padding: 0 0.25rem;
          }
          .header_nav_links a:not(:hover){
            text-decoration: none;
        }
          .header_nav_links a + a {
            margin-left: 1.25rem;
          }
             li {
              display: inline;
              padding: 20px;
              float: right;
                }

.encabezado, .pie{
    background-color: #FAD2F9;
}



.catalogo_container .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }


