*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    
    font-family: "Montserrat", sans-serif;
    /* background-image: url("imagenes/Background.jpg"); */
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    text-align: center;
    background-color:rgb(240, 241, 241);
    table-layout: fixed;
    font-size: 40px;
}
.encabezado{
    .img {
        size-adjust: 60%;}
    .header_nav_links{
            display: flex;
          justify-content: flex-end;
          padding-bottom: 0.75rem;
          padding-top: 0.75rem;
          color: aliceblue;
           } 
}

.encabezado, .pie{
    background-color: #FAD2F9;
}


}


.catalogo_container .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }


